{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue!!</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia, error reprehenderit. Mollitia deserunt ipsam quisquam. Sed magni laboriosam error molestias accusantium! Fugiat id sunt inventore adipisci quas culpa consequatur animi neque, explicabo natus commodi? Doloremque ipsa voluptas quaerat numquam quisquam.</p>
    <p>Voluptates assumenda, quo corporis dolorum beatae ad facilis perferendis adipisci veritatis expedita totam neque molestiae eligendi quidem vel dolor, eos odit ab commodi, maxime ipsum voluptatum quaerat rerum? Debitis aliquam dolores ipsum expedita dolore quidem, incidunt architecto ad id. Ab.</p>


{% endblock %}